
.header{
  margin-left: 45%;
  margin-right: 45%;
  color:rgb(127, 174, 216);
  padding-top: 3%;
}
.hedeardiv{
  background-color: aqua;
  border-bottom: 1px groove;
  height: 150px;
}
.plus{
  font-weight:900;
  margin-top: -3%;
  margin-left: 95%;
  color:rgb(190, 185, 185)
}
button{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color:inherit
}
.parent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.p-3{
  border-radius: 10px;
  min-width: 20%;
  margin: 5%;
  text-transform: uppercase;
  font-size:x-large;
}
#inputCat{
  margin-top: 4%;
  visibility: hidden;
}
.form-check-input{
  transform:scale(1.7); 
}
.form-check{
  margin-top: 10px;
}
.form-check-label{
  text-transform:initial;
  margin-left: 30px;
  margin-top: -120px;
}
.form-check-label::first-letter{
  text-transform:uppercase;
}
.form-check-input{
  margin-top: 10px;
}
.modal-title{
  margin-left: auto;
  margin-right: auto;
}
