

<div id="myModal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title"  >Новая задача</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="inp">
        <div class="modal-content" >
        <input id="inputTodo" placeholder="Название задачи..."/>
        </div>
        <br>
         <div  >
        <select id="select" class="modal-content" >
       
        <% @cats.each do |cat| %>
        <option  > <%=cat.title %> </option>
        <% end %>
         <option id="zero" value=0>добавить категорию</option>
          </select >
          </div>
           <div class="modal-content"id="inputCat" >
        <input id="inputCategory" placeholder="Введите категорию..."/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" id="btnSubmit" data-dismiss="modal" >Ок</button>
      </div>
    </div>
  </div>
</div>
