.example-form-field{
  padding-top: 50px;
  width: 400px;
}
#flex{
  display: flex;
  flex-direction: column;
}
.modalBtn{
  width: 200px;
  
}
#titleAdd{
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}
#error{
  text-align: center;
  margin-bottom: 5px;
  margin-top: -10px;
  visibility: hidden;
}
